<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" [(ngModel)]="item.task">

            <button (click)="deleteItens(i)">
                <img src="assets/icons/icon-trash.svg" alt="">
            </button>
            <!-- {{ item | json}}  com isso ele abre um json na tela de acordo com o item q eu iterei -->
        </li>
     </ul>

</section>
<app-todo-input-add-itens (emmitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-itens>
<!-- emitItemTaskList é um evento q foi capturado , para recuperar usamos o setEmittaskList-->
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-button-delete-all>
